.button {
	color: $color-white;
	background-color: $color-primary;
	border: none;
	border-radius: 1rem;
	padding: 1.6rem;
	font-size: 1.4rem;
	font-family: inherit;
	font-weight: 700;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		background-color: $color-primary-light;
	}

	&:focus,
	&:active {
		background-color: lighten($color-primary-light, 5);
	}

	&:disabled {
		background-color: gray;
		cursor: not-allowed;
	}
}
