@font-face {
  font-family: 'SpaceMono Bold';
  src: url('../../assets/fonts/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'SpaceMono Regular';
  src: url('../../assets/fonts/SpaceMono-Regular.ttf');
}
