$color-light-grey-dark-1: #697c9a;
$color-light-grey-dark-2: #4b6a9b;
$color-light-grey-dark-3: #2b3442;
$color-light-grey-light-1: #fefefe;
$color-light-grey-light-2: #f6f8ff;
$color-light-box-shadow: #4660bb;

$color-dark-grey-dark-1: #1e2a47;
$color-dark-grey-dark-2: #141d2f;

$color-primary: #0079ff;
$color-primary-light: #60abff;
$color-white: #ffffff;
$color-black: #222731;
$color-error: #f74646;

$font-regular: 'SpaceMono Regular';
$font-bold: 'SpaceMono Bold';

$bp-mobile: 48em; //  768px
$bp-tablet: 62.5em; // 1150px
$bp-laptop: 90.625em; // 1450px
