$color-light-primary: #0079ff;
$color-light-grey-dark-1: #697c9a;
$color-light-grey-dark-2: #4b6a9b;
$color-light-grey-dark-3: #2b3442;
$color-light-grey-light-1: #fefefe;
$color-light-grey-light-2: #f6f8ff;

$color-dark-primary: #0079ff;
$color-dark-grey-dark-1: #1e2a47;
$color-dark-grey-dark-2: #141d2f;

$color-white: #ffffff;

$font-regular: 'SpaceMono Regular';
$font-bold: 'SpaceMono Bold';
